#searchbar {
    position: fixed;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
}

#searchbar #search {
    outline: none;
    border: none;
    width: 0rem;
    background: #2220;
    color: #fff;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #fff0;
    transition: all 200ms cubic-bezier(0.500, 0.000, 0.500, 1.000); 
    transition-timing-function: cubic-bezier(0.500, 0.000, 0.500, 1.000); 
}

#searchbar:hover #search {
    width: 10rem;
    background: #222e;
    border: 1px solid #8881;
    box-shadow:0px 0px 4rem #0008;
}

#searchbar:hover #search::selection {
    color: #fff;
    background: #fff5;
}

#searchbar .fa-search {
    color: #fffa;
}

#badsearch {
    margin-bottom: 2rem;
}

/*--- Subdomain Links ---------------------------------------------------------*/

#fungi, #insects {
    position: fixed;
    display: block;
    top: 4.5rem;
    right: 1.5rem;
}

#insects { top: 6.8rem; display: none; }

#fungi i, #insects i { color: #fffa; }

#fungi:hover i, #insects:hover i { color: #fff8; }
