@import "./reset.css";
@import "./preloader.css";
@import "../atropos/atropos.min.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300;400;500&display=swap');
@font-face {
  font-family: SFDigital;
  src: url(../resources/SFDigitalReadout-Heavy.ttf);
}

html {
  scroll-behavior: smooth;
  background: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  font-family: sans-serif;
  color:#ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  overflow: overlay;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;
  background: #222;
}

.header, .footer {
  max-width: 100%;
}

header, nav, #articleGrid, footer {
  max-width: 960px;
  margin: 0 auto;
}

header, section, article, footer {
  position: relative;
}

.dim, #hero.dim, .nighttime #hero.dim {
  opacity: 0.3;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #fff2;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #0005;
}

/*--- Header ---------------------------------------------------------*/

.header {
  background: none;
  padding-bottom: 0px;
}

header {
  width: 100%;
  height: 320px;
}

#hero {
  position: fixed;
  width: 100%;
  height: 320px;
  object-fit: cover;
  opacity: 0.8;
  transform: translate3d(0,0,0) scale(1.25);
  z-index: -1;
}

.nighttime .header::before { /* Makes text more legible */
  content: '';
  position: absolute;
  display: block;
  width: 100vw;
  height: 320px;
  top: 0;
  left: 0;
  background-image: radial-gradient(#0005, #0000);
}

body.loaded #hero {
  transform: scale(1);
  transition: 6.5s transform;
}

header span {
  position: absolute;
  display: block;
  top: 70px;
  width: 100%;
  padding: 30px;
}

header h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

header p {
  text-align: center;
  font-size: 16px;
}

/*--- Navigation -----------------------------------------------------*/

nav {
  display: flex;
  margin: 60px 0 30px 0;
}

nav span {
  display: block;
  padding: 8px;
  border-radius: 4px;
  background: #1118;
  cursor: pointer;
  margin-right: 16px;
}

nav span:last-child {
  margin-right: 0px;
}

nav span:hover {
  background: #111;
}

nav span.show {
  background: #333;
}


/*--- Juicy Bits -----------------------------------------------------*/

#articleGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 930px;
  justify-content: flex-start;
}

.entries {
  max-width: 260px;
  margin: 0 15px 30px 15px;
  padding: 16px;
  border-radius: 4px;;
  background: #1118;
  cursor: pointer;
}

#entrydetails {
  position: fixed;
  top: 60px;
  display: none;
  max-width: 768px;
  margin: 0 60px;
  padding: 16px;
  border-radius: 4px;
  background: #1a1a1a;
}

#entrydetails.show {
  display: flex;
  flex-direction: row;
}

.tags, .location.hide {
  display: none;
}

.imagelink {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagelink2 {
  max-height: 400px;
  max-width: 560px;
}

.close {
  position: absolute;
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
  top: 0;
  right: -30px;
  background: #1a1a1a;
  color: rgba(255, 179, 155, 0.667);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/*--- Footer ---------------------------------------------------------*/

.footer {
  margin: 0;
  padding: 60px;
  background: #1a1a1a;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
}

.footer a {
  font-weight: 400;
}

.footer p, .footer p a {
  color: #ddda;
}

/*--- Typography  ----------------------------------------------------*/

a, i, .multiImgIcon:hover {
  text-decoration: none;
  color:#ddd;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.500, 0.000, 0.500, 1.000); 
  transition-timing-function: cubic-bezier(0.500, 0.000, 0.500, 1.000); 
}

a:hover, .content a:hover, i:hover {
  color: #aaa;
}

a:not([href]):hover {
  color:#ddd;
  cursor: default;
}

p {
  line-height: 20px;
}

p::selection {
  background: #8885;
  color:#fff;
}

b {
  font-weight: 500;
}

.dateyear {
  text-align: right;
  display: inline-block;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  word-spacing: -6px;
  letter-spacing: 3px;
  font-family: SFDigital;
  text-align: right;
}

.location {
  display: inline-block;
  margin: 4px 4px 0 0;
  padding: 4px;
  background: #000;
  letter-spacing: 2px;
  font-family: SFDigital;
}

.loc {
  word-spacing: 2px;
  letter-spacing: 2px;
  font-family: SFDigital;
}

.date, .date2{
  color: #fa7f69;
  text-shadow:
		-0.5px -0.5px 0 #540e01,
		0.5px -0.5px 0 #540e01,
		-0.5px 0.5px 0 #540e01,
		0.5px 0.5px 0 #540e01;
}

.date2 {
  opacity: 0.8;
}

.year {
  display: none;
}

.content {
  margin: 0 0 0 16px;
  max-height: 400px;
  overflow: overlay;
  color: #aaa;
}

.content a {
  color: #e7e4da;
}

.content.overflown {
  padding-right: 16px;
}

#entrydetails .posted {
  position: absolute;
  left: 8px;
  top: 6px; 
  min-width: 100vh;
  text-align: right;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right;
  word-spacing: -6px;
  letter-spacing: 3px;
  font-family: SFDigital;
}

::selection {
  background: none;
}

/*--- Images/Media ---------------------------------------------------*/

.imageLinkGroup {
  position: relative;
}

.imageLinkGroup:hover .imageNav {
  opacity: 1;
}

.imageNav {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content:space-between;
  padding: 8px;
  opacity: 0.35;
  transition: all 250ms cubic-bezier(0.500, 0.000, 0.500, 1.000); 
  transition-timing-function: cubic-bezier(0.500, 0.000, 0.500, 1.000); 
}

.imageNav i {
  background: #0007;
  padding: 3px 5px;
  border-radius: 2px;
}

.imageNav.disabled {
  display: none;
}

.imageLinkGallery {
  display: flex;
}

.multiImgIcon {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 20px;
  box-shadow:0px 0px 4px #0005;
}

.multiImgIcon::before {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: #0003;
}

.multiImg .multiImgIcon { /* multiple images */
  display: block;
}

.noArrow {
  opacity: 0;
  cursor: default;
}

#scrolltotop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 16px;
}

/*--- Audio ---------------------------------------------------*/

#audiogroup {
  position: fixed;
  bottom: 32px;
  left: 30px;
  font-size: 12px;
}

#audiogroup.soundoff .fa-volume-down,
#audiogroup .fa-volume-off {
  display: block;
}

#audiogroup .fa-volume-down,
#audiogroup.soundoff .fa-volume-off {
  display: none;
}

/*--- Queries --------------------------------------------------------*/

@media only screen and (max-width: 930px) {
  #articleGrid {
    max-width: 640px;
  }
}

@media only screen and (max-width: 820px) {
  #entrydetails.show {
    display: block;
  }
  .content {
    max-height: 12vh;
    margin: 16px 0 0 0;
  }
  .imageLinkGroup {
    display: flex;
    width: 100%;
    height: inherit;
  }
}

@media only screen and (max-width: 768px) {
  #hero[src*=day] {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    max-height: 16vh;
  }
  .imagelink2 {
    max-width: 100%;
    max-height: auto;
    height: auto;
    margin: auto;
  }
  .imageLinkGallery{
    display: block;
    margin: 0;
  }
  .imageLinkGroup {
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  #articleGrid {
    max-width: 350px;
  }
}

@media only screen and (max-width: 600px) {
  #entrydetails {
    max-width: 90%;
    width: 90%;
    margin: 60px 0 0 0;
    top: 0px;
  }
  .close {
    position: absolute;
    padding: 2px 6px 4px 6px;
    border-radius: 4px;
    top: -30px;
    right: 0px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .content {
    max-height: 20vh;
  }
}

@media only screen and (max-width: 480px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero {
    max-height: 320px;
  }
  .content {
    max-height: 30vh;
  }
}
